@import "../../../admin/tokens";

.menu {
  font-size: font-size("sm");
  flex: 1;
  display: flex;
  flex-direction: column;

  &__section {
    display: flex;
    flex-direction: column;
    gap: space("3");
    margin-bottom: space("8");

    &__title {
      display: none;
      padding: space("3") space("0");
      font-size: font-size("xs");
      font-weight: font-weight("semibold");
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: $text-tertiary;

      @include respond-to("lg") {
        display: block;
      }
    }
  }

  &__item {
    @include flex-center;
    gap: space("4");
    color: $text-secondary;
    padding: space("3") space("4");
    border-radius: border-radius("md");
    transition: all $transition-base;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-weight: font-weight("medium");

    @include focus-ring;

    img {
      width: 1.25rem;
      height: 1.25rem;
      flex-shrink: 0;
    }

    &:hover {
      background-color: $brand-light;
      color: $brand-primary;
    }

    &--active {
      background-color: transparent;
      color: $warning;
      border-left: 4px solid $warning;
      padding-left: calc(#{space("4")} - 4px);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: $warning;
        border-radius: border-radius("full");
      }
    }

    &__label {
      display: none;
      font-size: font-size("sm");

      @include respond-to("lg") {
        display: block;
      }
    }
  }
}
