@import "../../../admin/tokens";
@import "../../../admin/components";

.user-form {
  display: flex;
  flex-direction: column;
  gap: space("6");

  &__title {
    @include heading-2;
    margin: 0;
  }

  &__subtitle {
    @include text-sm;
    color: $text-secondary;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: space("6");
  }

  &__containerField {
    display: flex;
    flex-direction: column;
    gap: space("4");

    @include respond-to("lg") {
      flex-direction: row;
      align-items: flex-start;

      > * {
        flex: 1;
      }
    }
  }

  &__button {
    @extend .btn;
    @extend .btn--primary;
    margin-top: space("2");
    align-self: flex-end;
  }

  &__error {
    @extend .form-error;
  }

  &__label {
    @include text-sm;
    color: $text-secondary;
    font-weight: font-weight("medium");
    display: block;
    margin-bottom: space("1");
  }

  &__select {
    padding: space("3") space("4");
    font-size: font-size("sm");
    border: 1px solid $border-medium;
    border-radius: border-radius("md");
    background-color: white;
    color: $text-primary;
    font-family: $font-family-base;
    transition: all $transition-base;
    width: 100%;

    @include focus-ring;

    &:hover {
      border-color: $border-medium;
    }

    &:focus {
      border-color: $brand-primary;
      background-color: white;
    }

    &:disabled {
      background-color: $bg-secondary;
      color: $text-tertiary;
      cursor: not-allowed;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
  }
}
  