@import "../../../admin/tokens";
@import "../../../admin/components";

.card {
  background-color: white;
  border: 1px solid $border-light;
  border-radius: border-radius("lg");
  overflow: hidden;
  transition: all $transition-base;
  box-shadow: shadow("xs");

  &:hover {
    box-shadow: shadow("sm");
  }

  &__header {
    @include flex-between;
    padding: space("8");
    border-bottom: 1px solid $border-light;
    background-color: white;
    flex-wrap: wrap;
    gap: space("4");

    @include respond-to("md") {
      flex-wrap: nowrap;
    }

    &__title {
      @include heading-2;
      margin: 0;
      color: $text-primary;
      font-weight: font-weight("bold");
    }

    &__actions {
      @include flex-center;
      gap: space("3");
    }

    &__button {
      @extend .btn;
      @extend .btn--icon;
      @extend .btn--icon--success;
    }

    &__controls {
      display: flex;
      flex-direction: column;
      gap: space("3");
      width: 100%;
      margin-left: auto;

      @include respond-to("md") {
        flex-direction: row;
        width: auto;
        align-items: center;
      }
    }
  }

  &__list {
    padding: 0;
  }

  &__pagination {
    margin: 0;
    padding: space("4") space("8");
    border-top: 1px solid $border-light;
    background-color: white;
  }
}
  