.user-form {
    display: flex;
    flex-direction: column;
  
    &__title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  
    &__subtitle {
      font-size: 0.875rem;
      color: #6b7280;
      margin-bottom: 1rem;
    }
  
    &__fields {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__containerField {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
    }

    .upload {
      font-size: 0.75rem;
      color: #6b7280;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    
      &__icon {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &__button {
      background-color: #3b82f6;
      color: #ffffff; 
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      margin-top: 1rem;
      border:0;
      outline:0;
      cursor: pointer;
      transition:0.3s;

      &:not(:disabled):hover {
        background: #bae6fd;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  
    &__error {
      color: #ef4444;
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }

    &__label {
      font-size: 0.75rem;
      color: #6b7280;
    }
  
    &__select {
      border-radius: 0.375rem;
      padding: 0.5rem;
      font-size: 0.875rem;
      outline:0;
      width: 100%;
      border: 1.5px solid #d1d5db;
    }
  }
  