.pricingPlans {
    @extend %container;
    flex-direction: column;
    gap: 3.5rem;
    overflow: hidden;
    padding: 3rem 1.5rem;

    @include tablet-lg {
        padding: 4rem 2rem;
        gap: 4rem;
    }

    @include desktop-xl {
        padding: 5rem 3rem;
        gap: 4.5rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: center;
        gap: 2.5rem;
        width: 100%;

        @include tablet-lg {
            flex-direction: row;
            gap: 2rem;
        }

        @include desktop-xl {
            gap: 2.5rem;
        }
    }
}