.pagination {
    padding:0.85rem;
    gap:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6b7280;

    @include phone-sm {
      padding: 1rem;
    }
    
    &__button {
      padding: 0.5rem 1rem; 
      border-radius: 0.375rem;
      background-color: #e2e8f0;
      font-size: 0.75rem;
      font-weight: 600;
      transition: opacity 0.2s, cursor 0.2s;
      border:0;
      outline:0;
      color: $secondary-color;
      background: transparent;
      transition: .3s all ease;
      border: 2px solid #bae6fd;
      cursor:pointer;

      &:not(:disabled):hover {
        background: #bae6fd;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  
    &__pages {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.875rem;
  
      &__page {
        border: none;
        text-align: center;
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 50%;
        color: $secondary-color;
        background: transparent;
        border: 2px solid #bae6fd;
        cursor:pointer;
        transition: .3s all ease;
        box-shadow: 0px 10px 27px -20px rgba(0, 0, 0, 0.33);
        
        @include phone-sm {
          width: 40px;
          height: 40px;
          line-height: 40px;
        }

        &:hover, &--active {
          background: #bae6fd;
          color: $secondary-color;
          border: 1px solid transparent;
        }
      }
    }
  }
  