// // Small tablets and large smartphones (landscape view)
// $screen-sm-max: 576px;

// // Small tablets (portrait view)
// $screen-md-max: 900px;

// // Tablets and small desktops
// $screen-lg-max: 1050px;

// $screen-extra-lg-max: 1800px;
// // Large tablets and desktops
// $screen-xl-max: 1200px;
$screen-sm-max: 639px;
$screen-md-max: 767px;
$screen-lg-max: 1023px;
$screen-xl-max: 1279px;
$screen-2xl-max: 1535px;
$primary-color: #bfffff;
$secondary-color: #303038;
