.contact {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto 3rem auto;
    gap:2rem;

    @include desktop-xl {
        margin: 100px auto 3rem auto;
    }

    &__form {
        @extend %flexbox;
        gap:1rem;
        flex-direction: column;
        margin: auto;
        padding:1rem;
        width: 100%;
        max-width: 600px;
    }

    &__section {
        @extend %flexbox;
        width:100%;
        gap: 1rem;

        @include desktop-xl {
            flex-wrap:nowrap;
        }
    }

    &__map {
        height: 500px;
        width: 100%;
    }
}

