.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: clamp(1.5rem, 2.5vw + 0.5rem, 2.5rem);
    color: $secondary-color;
    font-weight: 700;

    &--light {
        color: #bfffff;
    }
}
