.introduction {
  @extend %container;
  gap:2rem;
  margin:1rem 0;
  flex-direction: column;
  overflow:hidden;
  @include desktop-xl {
    flex-direction: row;
  }

  &__karate{
    flex:2;
  }

  &__funakoshi-image{
    flex:1;
    min-width:250px;
  }

}