@import './base/global';
@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';
@import './components/header/header';
@import './components/header/logo';
@import './components/header/navlinks';
@import './components/header/authlinks';
@import './components/header/sidebar/sidebar';
@import './components/banner/banner';
@import './components/banner/heading/heading';
@import './components/UI/button';
@import './components/UI/imagecomponent';
@import './components/UI/title';
@import './components/UI/content';
@import './components/introduction/introduction';
@import './components/posts/posts';
@import './components/posts/post';
@import './components/posts/postpage';
@import './components/benefit/benefit';
@import './components/presentation/presentation';
@import './components/testimonials/testimonials';
@import './components/testimonials/testimonial';
@import './components/pricingPlans/pricingplancomponent';
@import './components/pricingPlans/pricingplans';
@import './components/UI/modal';
@import './components/gallery/gallery';
@import './components/UI/slider';
@import './components/contact/contact';
@import './components/UI/input';
@import './components/UI/buttoncomponent';
@import './components/UI/checkboxcomponent';
@import './components/UI/animations/spinner';
@import './components/UI/animations/fadesection';
@import './components/UI/spinner';
@import './components/UI/animations/animatedtext';
@import './components/trainers/trainers';
@import './components/openingHours/openingHours';
@import './components/footer/footer';
@import './components/login/login';
@import './components/admin/layout/layout';
@import './components/admin/layout/menu';
@import './components/admin/layout/navbar';
@import './components/admin/users/users';
@import './components/admin/users/userRow';
@import './components/admin/users/userColumns';
@import './components/admin/UI/tableSearch';
@import './components/admin/UI/table';
@import './components/admin/UI/pagination';
@import './components/admin/users/userForm';
@import './components/admin/UI/formModal';
@import './components/admin/UI/reactQuill';
@import './components/admin/UI/statCard';
@import './components/admin/gallery/gallery';
@import './components/blog/blogpage';
@import './admin/admin-layout';